html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	user-select: none;
	outline: none;
	background-color: transparent;
	font-family: 'PT Sans', sans-serif;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#main-container {
	position: absolute;
	bottom: 20.1vh;
	left: 1.0vw;
	text-align: left;
	display: flex;
}

#left-section {
	font-size: 48px;
	margin-right: 0.5vw;
	color: #ffffff;
}

#street-container {
	margin-top: 0.8vh;
}

#top-row {
	font-size: 24px;
	color: #fff;
}

#street {
	color: #76AEC7;
}

#crossing {
	color: #E6D081;
}

#bottom-row {
	position: absolute;
	font-size: 16px;
	bottom: 1vh;
	color: #fff;
}

#area {
	color: #E6D081;
}



